<div>
    <acme-navbar show="showSearchMobile(mobile, query)" search="searchSubmit(query)" />
</div>

<div class="container mt-60 mb-60">
  <div class="row">
  	<div class="bg-white padding_cont">
  		<div class="wd-100">
  			<iframe width="100%" height="450" src="https://www.youtube.com/embed/9HObbvrlYEA" frameborder="0" allowfullscreen></iframe>
  		</div>
  		<div class="container">
  			<div class="row">
  				<div class="col-xs-12">
	  				<h4>{{ctrl.item_data.snippet.title}}</h4>
	  			</div>
	  		</div>
	  		<div class="row border_about">
	  			<div class="col-xs-4 mb-10">
	  				1,672 Watching now
	  			</div>
	  			<div class="col-sm-5 col-xs-12 col-sm-offset-3">
	  				<div class="right_buttons">
	  					<div class="like_btn">
	  						<i class="fa fa-thumbs-up" aria-hidden="true"></i>
	  						<p>1K</p>
	  					</div>
	  					<div class="dislike_btn">
	  						<i class="fa fa-thumbs-down" aria-hidden="true"></i>
	  						<p>153</p>

	  					</div>
	  					<div class="share_btn">
	  						<i class="fa fa-share" aria-hidden="true"></i>
	  						<p>Share</p>
	  					</div>
	  					<div class="plus_btn">
	  						<i class="fa fa-list-ul" aria-hidden="true"></i>
	  					</div>
	  					<div class="more">
	  						<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="row border_about">
  				<div class="col-xs-12 mt-20 mb-20 display_row_imco">
	  				<div class="img_cont_vid">
	  					<img id="img" class="style-scope yt-img-shadow" width="48" src="https://yt3.ggpht.com/-z3A0ZYNR99E/AAAAAAAAAAI/AAAAAAAAAAA/gyHKOxhL3Y8/s88-c-k-no-mo-rj-c0xffffff/photo.jpg">
	  				</div>
	  				<div>
	  					<h4 class="m0-at">{{ctrl.item_data.snippet.channelTitle}}</h4>
	  					<p class="m0-at">{{ctrl.item_data.snippet.publishedAt}}</p>
	  				</div>
	  			</div>
	  		</div>
  		</div>

  		<div class="row mt-20 ml-10 display_row_imco"  ng-repeat ="item in ctrl.videolist">
        <div class="image_view" ui-sref="video({videoId: item.id.videoId, playlist:false})" ng-if="!ctrl.playlist">
          <img width="250" src="{{item.snippet.thumbnails.medium.url}}">
          <span class="timing_img">2:02</span>
        </div>
        <div class="image_view" ui-sref="video({videoId: item.snippet.resourceId.videoId, playlist:false})" ng-if="ctrl.playlist">
          <img width="250" src="{{item.snippet.thumbnails.medium.url}}">
          <span class="timing_img">2:02</span>
        </div>
        <div class="content_view wd-60">
          <h4>{{item.snippet.title}}</h4>
          <!-- <p><small>{{item.tiny}}</small></p> -->
          <p>{{item.snippet.description}}</p>
        </div>
      </div>

  	</div>
  </div> 
</div>