<div>
    <acme-navbar />
</div>

<div class="container mt-60 mb-60">
  <div class="row">
    <div class="col-xs-12 channel_cover">
      <div class="channel_pp">
        <img id="img" class="style-scope yt-img-shadow" width="48" src="https://yt3.ggpht.com/-z3A0ZYNR99E/AAAAAAAAAAI/AAAAAAAAAAA/gyHKOxhL3Y8/s88-c-k-no-mo-rj-c0xffffff/photo.jpg">
      </div>
    </div>
    <div class="col-xs-12">
      <h3>SpongeBob SquarePants</h3>
      <h5 class="subs_channel"><i class="fa fa-youtube-play" aria-hidden="true"></i> SUSBCRIBE <span>23,993</span></h5>
    </div>
  </div>


  <div class="bg-white row channel_row">
    <div class="mt-20 col-xs-12 display_row_imco bg-white" *ngFor="let item of search_result">
      <div class="image_view" routerLink="/video" *ngIf = "item.video">
          <img src="{{item.img}}">
          <span class="timing_img">2:02</span>
        </div>
        <div class="content_view wd-60">
          <i class="fa fa-ellipsis-v fl-right" aria-hidden="true"></i>
          <h3>{{item.title}}</h3>
          <p><small>{{item.tiny}}</small></p>
          <p>{{item.paragraph}}</p>
        </div>
    </div>
  </div>
  <img src="https://thumbs.gfycat.com/AggressiveGrouchyHammerkop-max-1mb.gif" width="60" *ngIf="show_loading" class="center"> 
</div>